
.cuadrado2{
	height: 250px;
	width: 250px;
	float: left;

.cuadrado3{
	width: 250px;
	height: 250px;
	float: right;
}

.amarillo{
	background-color: yellow;
}

.azul{
	background-color: blue;
}

.rojo{
	background-color: red;
}